@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
}

/* Скрываем полосу прокрутки для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Скрываем полосу прокрутки для Firefox */
* {
  scrollbar-width: none;
}

/* Скрываем полосу прокрутки для IE и Edge */
* {
  -ms-overflow-style: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Добавьте эти стили для улучшения внешнего вида на iPhone */
@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

/* Плавные переходы между страницами */
.page-transition {
  transition: opacity 0.3s ease-in-out;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}

/* Добавьте эти стили в конец файла */

.no-zoom {
  touch-action: pan-x pan-y;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
